html {
    /* text-align: center; */
    font-family: sans-serif;
}


main {
  margin: 10px;
  display:flex;
  flex-wrap: wrap;
}

section {
  border: 1px solid gray;
  padding: 10px;
}

section.task-area {
  flex: 3 1 300px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

span.task-name {
  padding: 5px;
}
span.task-count {
  padding-left: 50px;
}



ul {
  padding: 0;
}

li.selected-task>.task-name {
  padding: 0px;
  border: 5px solid red;
}

li.hide-children:not(.has-selected-child) > ul.task-list{
display: none;
}


li {
  padding-left: 20px;
  margin: 10px 0 0 30px;
  list-style: none;
  position: relative;
}



li::before {
  content: "";
  position: absolute;
  top: .4em;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #8b6b4e;
  border-radius: 50%;
}

li.has-children::before {
  content: "";
  position: absolute;
  top: .45em;
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 0%;
  border-top: 2px solid #8b6b4e;
  border-right: 2px solid #8b6b4e;
}

li.hide-children::before{
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

li.has-selected-child::before {
  border-color: #e99547;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}









section.controller-area {
  flex: 1 3 300px;
}

section.full-count-area {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: white;
}

.count-status{
  display:flex;
}
.count-status>p{
  margin :0;
  padding-top:5px;
}

.count-status::before{
  width: 120px;
  text-align: center;
  /* height: 20px; */
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 10px;
}


.count-status::before{
  content:"● 計測中";
  background-color: #313131;
  color: #eb8c8c;
}

.count-status.stop-count::before{
  content:"❚❚  停止中";
  background-color: #b4b4b4;
  color: black;
}




section.controller-area {
  display: none;
}